
*{
    margin: 0px;
    padding: 0px;
}

/* utility */


/* head iteam */
header{
    background-image: url(photo/bacground/head.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 800px;
}

.nav-container{ 
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}


.logo{
    width: 55px;
    height: 41px;
}


nav{
    flex: 1;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex: 1;
}
 
nav ul li{
    margin: 10px 30px;
}
.btn button{
    background: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
nav ul li a{
 text-decoration: none;
 color: white;
 font-weight: bold;
 font-size: 17px;
}
 
.manu-box{
margin-left: 100px;
}
.manu-box img{
height: 30px;
width: 30px;
}

/* middle head */
.search-container{
   
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;
}
.search-container h1{
    color: #fff;
    font-size: 50px;
     
}
.search-container p{
    color: #fff;
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 60px;
}
.search-container input{
    padding: 10px 80px;
    border-radius: 15px;
    border: none;
     
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
     
    margin: 20px;
    padding: 10px;
    height: 90px;
    width: 90px;
}

/* body part */

/* OUR DESTINATIONS */
     
.OUR-DESTINATIONS{
    
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-titel{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cards{  
    margin:30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.card{  
    margin-left: 16px;
    width: 290px;
    height: 360px;
    cursor: pointer;
    padding: 15px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 5px gray;
    transition: 0.5s ease-in-out;
} 

.card:hover{
    transform: translateY(-10px);
}
.card:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 158, 158, 0.521);
    z-index: 2;
    transition: .5s all;
    opacity: 0;
}
.card:hover:before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
}
.card .card-info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s all;
}
.card:hover .card-info{
    opacity: 1;
    transform: translateY(0px);   
}
.card .card-info h1{
    margin: 0;

}
.card .card-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.card .card-info .btn{
    text-decoration: none;
    padding: 5px 30px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.card .card-info .btn:hover{
    box-shadow: 0px 7px 10px  rgba(0.0,0,0.7);
}


/* Your-Next-Holiday */
.Your-Next-Holiday{
    background-image: url(photo/contry/endbanner.jpg);
    background-position: bottom;
    box-sizing: border-box;
    background-size:cover ;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hollyday{ 
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
 ;
}
.holly-text{
    margin-right: 30px;
    width: 400px;
}
.holly-text h1{
    color: #fff;
    font-size: 60px;
}
.holly-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.holly-button button{
    background: none;
    border: 1px solid black;
    background-color: #fff;
    color: rgb(156, 9, 9);
    margin: 5px;
    padding: 10px 45px;
    border-radius: 15px;
}
/* The Best Beaches */


.The-Best-Beaches{
   
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.beach-titel{
    
    height: 450px;
    width: 450px;
    padding: 5px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.beach-titel h1{
    font-size: 40px;
    color: rgb(26, 26, 26);
    margin-bottom: 30px;
}
.beach-titel p{
    color: gray;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.btn-2 button{
 background: none;
background-color: #43e4c4;
padding: 12px 30px;
border-radius: 15px;
margin: 10px;
border: none;
cursor: pointer;
}

.beach-img{
    
    height: 450px;
    width: 750px;
}
.beach-img img{
    width: 100%;
    height: 100%;
}

/* services */
.service-iteam{ 
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.service{ 
width: 1140px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
}
#service-container{
    margin: 10px;
    padding: 5px;
}
#service-container h1{
font-size: 35px;
color: gray;
margin-top: 5px;
margin-bottom: 5px;
}
#service-container p{
 font-size: 18px;
 font-weight: 600;
 line-height: 15px;
 color: gray;
 margin-top: 5px;
margin-bottom: 5px;
}
#service-container a{
    font-size:18px;
    font-weight: 600;
    text-decoration: none;
    color: #2faafc;
    margin-left: 10px;

}

/* discover cites and nature */


.discover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 50%;
    width: 100%;
    height: 200px;
}
.cites{
    background-image: url(photo/contry/city.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    flex-basis: 100%;
background-color: rgba(222, 184, 135, 0.671);
}
.naturs{
    background-image: url(photo/contry/nature.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    flex-basis: 100%;
 
}

.city-text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px
}
.city-text h1{
color: rgb(255, 255, 255);
font-size: 30px;
margin: 7px;
}
.city-text p{
    color: rgb(255, 255, 255);
    font-size: 18px;

}
.city-text button{
 background: none;
 border: none;
 background-color: white;
 margin: 5px;
 padding: 10px 35px;
 border-radius: 10px;
 color: #A04000;
 cursor: pointer;
 
}

.nature-text{ 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px
}

.nature-text h1{
color: rgb(255, 255, 255);
font-size: 30px;
margin: 7px;

}
.nature-text p{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.nature-text button{
    background: none;
    border: none;
    background-color: white;
    margin: 5px;
    padding: 10px 35px;
    border-radius: 10px;
    color: #A04000;
    cursor: pointer;
}
/* OUR PACKAGES */
.OUR-PACKAGES-SECTION{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.OUR-PACKAGES{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20px;
}

.PACKAGES-CARD{ 
    box-shadow: 1px 1px 5px gray;
    width: 380px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px;
    margin-right: 20px;

}
.PACKAGES-lmg {
    width: 350px ;
    height: 200px ;
    margin:5px 5px 50px 5px;
}
.PACKAGES-lmg img{
    width: 100%;
    height: 100%;
}
#packag-head-test a{
 text-decoration: none;
 font-size: 30px;
 color: rgba(8, 7, 7, 0.815);
}
#packag-head-test p{
    margin-top: 4px;
    font-size: 20px;
 color: rgba(8, 7, 7, 0.815); 
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}
.relax{
    display: flex;
    justify-content: space-around;
}
.relax a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: rgba(8, 7, 7, 0.815);
}
#packag-end-test p{
    
font-size: 17px;
 color: rgba(8, 7, 7, 0.815);
}
#packag-end-test button{
background: #85929E;
border: none;
padding: 7px 20px;
border-radius: 10px;
cursor: pointer;

}
 

/* ending part */

.end{
    background-image: url(photo/contry/endbanner.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    width: 100%;
    height: 600px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ending-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 1140px;
    height: 150px;
}
.ending-title{
    margin-right: 350px;
}
.ending-title p{
    color: rgb(116, 116, 116);
    font-size: 17px;
    font-weight: 600;   
}
.ending-title h1{
    color: black;
    font-size: 37px;
    font-weight: 600; 
}
.input{  
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}
.input input{
    padding: 5px 15px;
}
.input button{
background:#85C1E9 ;
border: none;
padding: 5px 15px;

}
.ending-banar{
    
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 350px;
    padding: 10px;

}


.end-discription{ 
width: 500px;
height: 250px;
}
.end-discription p{
    color:#B3B6B7;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
}
.span{
    margin-top: 30px;   
}
.span span{
    margin-left: 5px;
    padding: 20px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    transition: .8s;
}
.span span:hover{
    color: rgba(184, 133, 38, 0.671);
}
.end-nav{  
     
    width: 500px;
    height: 250px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.our-agency , .parents , .last-minute , h3 li{
    color:#e3e6e7;
}
.end-nav ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}
.end-nav ul li{
    margin: 5px;
    padding: 2px;
    cursor: pointer;
    transition: .8s;
}
.end-nav ul li:hover{
color: rgba(202, 134, 8, 0.411);
font-weight: 500;

} 