
*{
    margin: 0px;
    padding: 0px;
}

/* utility */


/* head iteam */
header{
    background-image: url(photo/bacground/head.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 800px;
}

.nav-container{ 
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    align-items: center;
    flex-direction: row;
}


.logo{
    width: 55px;
    height: 41px;
}


nav{
    flex: 1;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex: 1;
}
 
nav ul li{
    margin: 10px 30px;
}
.btn button{
    background: none;
    color: white;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 20px;
}
nav ul li a{
 text-decoration: none;
 color: white;
 font-weight: 600;
 font-size: 17px;
}
 
.manu-box{
margin-left: 100px;
}
.manu-box img{
height: 30px;
width: 30px;
}

/* middle head */
.search-container{
    border: 2px solid green;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 700px;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    border: 1px solid red;
    margin: 20px;
    padding: 10px;
    height: 90px;
    width: 90px;
}

/* body part */

/* OUR DESTINATIONS */
     
.OUR-DESTINATIONS{
    border: 5px solid green;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-titel{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cards{
    border:3px solid black;
    margin:30px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.card-1{
    border:3px solid blue;
    background-image: url(photo/contry/italy.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
    cursor: pointer;
    transition: background-color .8s ease-in-out ;
} 
.card-1:hover{
    background-color: #1e90ff;
    background-image: none;
    
}
.card-1 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}


.card-2 {
    border:3px solid blue;
    background-image: url(photo/contry/hongkong.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
     
}
.card-2 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}
.card-3{
    border:3px solid blue;
    background-image: url(photo/contry/nland.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
}
.card-3 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}
.card-4{
    border:3px solid blue;
    background-image: url(photo/contry/pexels-adhitya-andanu-1561863.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
}
.card-4 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}
.card-5{
    border:3px solid blue;
    background-image: url(photo/contry/pexels-pixabay-460376.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
}
.card-5 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}
.card-6{
    border:3px solid blue;
    background-image: url(photo/contry/pexels-viktor-mogilat-3979108.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    margin-left: 16px;
    width: 350px;
    height: 350px;
    position: relative;
}
.card-6 h1{
    color: white;
    position: absolute;
    top: 280px;
    left: 20px;
}


/* Your-Next-Holiday */
.Your-Next-Holiday{
    border: 5px solid blue;
    background-image: url(photo/contry/endbanner.jpg);
    background-position: bottom;
    box-sizing: border-box;
    background-size:cover ;
    width: 100%;
    height: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hollyday{ border:  5px solid red;
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
 ;
}
.holly-text{border:  5px solid red;
    margin-right: 30px;
}
.holly-button{

}
/* The Best Beaches */


.The-Best-Beaches{
    border: 5px solid yellow;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.beach-titel{
    border: 5px solid green;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn-2{
 background: none;
border: 1px solid red;
padding: 10px 20px;
margin: 10px;
}

.beach-img{
    border: 5px solid deeppink;
    height: 450px;
    width: 450px;
}
.beach-img img{
    width: 100%;
    height: 100%;
}

/* services */
.service-iteam{ border: 5px solid darkolivegreen;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}
.service{ border: 5px solid green;
width: 900px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
}

/* discover cites and nature */


.discover{border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 50%;
    width: 100%;
    height: 200px;
}
.cites{
    background-image: url(photo/contry/city.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    flex-basis: 100%;
background-color: rgba(222, 184, 135, 0.671);
}
.naturs{
    background-image: url(photo/contry/nature.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    flex-basis: 100%;
background-color: rgba(95, 158, 160, 0.849);
}

.city-text{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px

}
.nature-text{ 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 200px
}


/* OUR PACKAGES */
.OUR-PACKAGES-SECTION{
    border: 5px solid springgreen;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}
.OUR-PACKAGES{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20px;
}

.PACKAGES-CARD{ border: 2px solid red;
    width: 380px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px;
    margin-right: 20px;

}
.PACKAGES-lmg {
    width: 350px ;
    height: 200px ;
    margin:5px 5px 50px 5px;
}
.PACKAGES-lmg img{
    width: 100%;
    height: 100%;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}
.relax{
    display: flex;
    justify-content: space-around;
}

/* ending part */

.end{border:3px solid black;
    background-image: url(photo/contry/endbanner.jpg);
    background-position: center;
    box-sizing: border-box;
    background-size:cover ;
    width: 100%;
    height: 600px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ending-head{border:3px solid rgb(212, 35, 35);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 1140px;
    height: 150px;
}
.ending-title{
    margin-right: 350px;
}
.ending-banar{border:3px solid rgb(116, 11, 11);
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 350px;

}


.end-discription{border:3px solid rgb(116, 11, 11);
width: 500px;
height: 250px;
}
.end-nav{ border:3px solid rgb(116, 11, 11);
     
    width: 500px;
    height: 250px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}
.end-nav ul{
    list-style:none;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.end-nav ul li{
    margin: 5px;
    padding: 2px;
}